@charset "UTF-8";

@import url(https://fonts.adobe.com/fonts/force#details-section+force-regular);

@font-face {
    font-family: 'a';
    src: url(Fontes/Almond\ Nougat.otf) format('opentype');
}
@font-face {
    font-family: 'b';
    src: url(Fontes/Awesome\ Possum\ Outline\ Demo.otf);
}

:root{
    --cor1: #161B33;
    --cho: #312219;
    --cho2: #3d2b1f;
    --cho3: #c1a269;
    --c1: #00fa9a;
    --c2: #a98646;
    --c3: #d7c39e;




    --padrao: 'a', cursive;
    --normal: 'b', helvetica;
}

*{
 margin: 0px;
 padding: 0px;
}
header{
    padding: 30px 0px 30px 0px;
    font-size: 2em;
    width: 100%;
    text-align: center;
    background-color:var(--cho2);
    font-family: var(--normal);
    color: white;
}
header > h2{
    font-size: 1.5em;
}
#nav{
    background-color: var(--cho2);
    font-family: var(--padrao);
    font-size: 1.5em;
}
#nav > a{
    padding: 0px 5px;
    font-size: 1.3em;
    color: white;
    text-decoration: none;
}
#nav > a:hover{
background-color: var(--cho3);
color: var(--cho2);
transition-duration: 0.3s;
border-radius: 10px;
}

body{
    background-color: var(--cho3);
    font-family: var(--padrao);
    color: black;
}
section{
    
    margin: auto;
    padding: 20px;
    background-color: var(--c2);
    max-width: 1000px;
    min-width: 250px;
}
section > h2{
    font-family: var(--padrao);
    font-size: 2.5em;
}
section > p{
    font-size: 1.5em;
}
section > ul{
    font-family: 'Times New Roman', Times, serif;
    font-weight: bolder;
    font-size: 2em;
    list-style: inside;
    list-style-type: '\1F366\00A0';
    margin-bottom: 20px;
}
section > ul > li:hover{
    color: white;
    background-color: var(--cho3);
}
section > ul > li::after{
    content: "→";
}

div.video{
    margin: 0px -20px 30px -20px;
    position: relative;
    padding-bottom: 58%;
}
div.video > iframe{
    position: absolute;
    top: 5%;
    left: 5%;
    width: 90%;
    height: 90%;
}

footer{
    color: red;
    font-size: 2em;
}
  